.svn
.orig
.gclient
.gclient_entries
src/third_party/findbug/
src/third_party/fontTools/
src/third_party/gmock/
src/third_party/gtest/
src/third_party/gyp/
src/third_party/japanese_usage_dictionary/
src/third_party/jsoncpp/
src/third_party/protobuf/
src/third_party/zlib/

src/android/AndroidManifest.xml
src/android/assets/
src/android/bin/
src/android/gen/
src/android/gen_for_adt/
src/android/libs/
src/android/protobuf/bin/
src/android/protobuf/gen/
src/android/protobuf/gen_for_adt/
src/android/resources/bin/
src/android/resources/gen/
src/android/resources/res
src/android/tests/AndroidManifest.xml
src/android/tests/libs/
src/build_tools/__init__.pyc
src/build_tools/android_util.pyc
src/build_tools/code_generator_util.pyc
src/build_tools/mozc_version.pyc
src/build_tools/test_tools/__init__.pyc
src/build_tools/test_tools/test_launcher.pyc
src/build_tools/util.pyc
src/dictionary/__init__.pyc
src/dictionary/pos_util.pyc
src/mozc_version.txt
src/out_android/
src/rewriter/__init__.pyc
src/rewriter/embedded_dictionary_compiler.pyc
